#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  background-color: rgb(215, 0, 58, 0.8); /* #DF3361 */
  text-align: center;
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

main {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  min-height: 50rem;
}

footer {
  background-color: rgb(215, 0, 58, 0.8); /* #DF3361 */
  color: white;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

table {
  border: #333 solid 1px;
  border-collapse: collapse;
  margin: auto;
}

td {
  border: #333 solid 1px;
  border-collapse: collapse;
  padding: 10px;
}

th {
  background-color: #df3361;
  color: white;
  border: #333 solid 1px;
  border-collapse: collapse;
  padding: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
